@media (max-width: 700px) {
  .stopwatch {
    width: 100%;

    .counters {
      font-size: 5.5rem;
    }

    .text {
      margin-top: -10px;

      span:first-child {
        left: 12px;
      }

      span:nth-child(2) {
        left: 0px;
      }

      span:last-child {
        right: 8px;
      }
    }

    .buttons {
      button {
        width: 80px;
        height: 80px;
      }
    }
  }
}
