@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&family=Source+Serif+4:ital@1&display=swap");

$bg-color: #b9d9eb;
$color: #e6e6fa;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "background";

.stopwatch {
  // center this div
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 474px;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .counters {
    font-size: 7.5rem;
    font-family: "Nanum Myeongjo", serif;
    color: $color;
  }

  .text {
    font-size: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: -20px;
    color: $color;
    font-family: "Source Serif 4", sans-serif;

    span:first-child {
      position: relative;
      left: -15px;
    }

    span:nth-child(2) {
      position: relative;
      left: 10px;
    }

    span:last-child {
      position: relative;
      right: -23px;
    }
  }

  @import "buttons";
}

@import "mobile";
